.content {
    text-align:center;
}

.box {
    position:absolute;
    text-align: center;
    width:200px;
    height:200px;
    margin:20px;
    background-color:slateblue;
}

.left {
    right:50%;
}